 /*----------------------------------------------Laptop Large (1440)---------------------------------------------*/
 @media all and (max-width: 1440px){
     #home{
         width: 100vw;
         height:100vh;
         position: relative;
     }

     .bg_gradient{
         width: 100vw;
         height: 350px;
         background: linear-gradient(180deg,black,transparent);

         position: absolute;
         z-index: 1;
     }

     .navbar{
         background-color: transparent;
         color: white;
     }

     .nav-links{
         list-style: none;
         display: flex;
         justify-content: right;
         padding: 10px;
         margin-right: 50px;
     }
     .nav-links li{
         margin: 0 30px;
     }

     .nav-links a{
         text-decoration: none;
         color: white;
         font-weight: bold;
     }

     .nav-links >li:first-child >a{
         text-decoration: none;
         color:#F86F03 ;
     }

     .nav-links >li:last-child >a{
         text-decoration: none;
         color:black ;
         background-color: #F86F03;
         border-radius: 45px;
     }

     .nav-links a:hover{
         text-decoration: underline;
     }

     .bg_gradient >div{
         font-size: 80px;
         font-weight: bold;
         position: absolute;
         top: 80px;
         left: 100px;
     }

     .bg_gradient> .head2{
         position: absolute;
         top: 170px;
     }

     .head1{
         background: linear-gradient(to top,black,white);
         -webkit-background-clip: text;
         color: transparent;
     }

     .head2{
         color: black;
     }

     #image1 {
         border-radius: 100%;
         position: absolute;
         right:217px;
         top: 7vw;

         z-index: 99;
     }


     .div2{
         width: 1000px;
         height: 500px;
         position: absolute;
         top: 265px;
         left: 100px;
     }

     .div2 h3{
         font-size: 47px;
         margin-bottom: -65px;
     }

     .div2> h4{
         font-size: 54px;
         color: #F86F03;
         margin-top: 75px;
     }

     .div2> button{
         width: 300px;
         height: 40px;
         background-color: #116530;
         border-radius: 45px;
         position: absolute;
         bottom: 220px;

     }

     .div2> button> a{
         text-decoration: none;
         font-size: 24px;
         color: white;
     }

     .box-style{
         width: 80px;
         height: 270px;

         position: absolute;
         bottom: 70px;
         right: 250px;
     }
     .box1{
         width: 40px;
         height: 200px;
         background-color: #116530;

         position: absolute;
         z-index: 3;
     }

     .box2{
         width: 40px;
         height: 200px;
         background-color: #F86F03;

         position: absolute;
         top: 35px;
         left: 20px;

         z-index: 2;
     }

     .box3{
         width: 40px;
         height: 200px ;
         background-color: black;

         position: absolute;
         bottom: 0;
         right: 0;

         z-index: 1;
     }

     .horizontal-line {
         width: 80%;
         height: 3px;
         background-color:black;
         margin: 20px 0;

         position: absolute;
         bottom: 10px;
         left: 150px;
     }

     .footer-bar{
         width: 100vw;
         height:200px;
         position: absolute;
         background-color: #2E2C2C;
     }

     .footer-bar > a:first-child{
         margin-left: 500px;
     }

     .social{
         display: inline-block;
         margin-left: 30px;
         margin-top: 75px ;
     }

 }

 /*----------------------------------------------Laptop(1024)-----------------------------------------------------*/
 @media all and (max-width: 1024px){
     #image1{
         position: absolute;
         right: 50px;
     }

     .box-style{
         position: absolute;
         right: 95px;
     }

 }


 /*----------------------------------------------Tablet(768)-----------------------------------------------------*/
 @media all and (max-width: 768px){
     .nav-links{
         margin-right: 0;
     }

     .bg_gradient >div{
         font-size: 65px;
         font-weight: bold;
         position: absolute;
         top: 100px;
         left: 40px;
     }

     #image1{
         width: 150px;
         height: 150px;
         position: absolute;
         top: 100px;
         right: 43px;
     }

     .box-style{
         position: absolute;
         right: 78px;
     }

     .div2{
         position: absolute;
         left: 40px;
     }

     .div2 h3{
         font-size: 41px;
         margin-bottom: -45px;
     }

     .div2> h4{
         font-size: 43px;
         margin-top: 60px;
     }
 }


 /*----------------------------------------------Mobile Large(425)-----------------------------------------------------*/
 @media all and (max-width: 426px){
     /*#contactme{*/
     /*    display: none;*/
     /*}*/

     /*#skills{*/
     /*    display: none;*/
     /*}*/

     /*#aboutme{*/
     /*    display: none;*/
     /*}*/

     /*#projects{*/
     /*    display: none;*/
     /*}*/

     /*#assignments{*/
     /*    display: none;*/
     /*}*/

     .nav-links{
         display: none;
     }

     .bg_gradient >div{
         font-size: 30px;
     }

     .bg_gradient > .head2 {
         position: absolute;
         top: 159px;
     }

     #image1{
         width: 100px;
         height: 100px;
         position: absolute;
         top: 100px;
         right: 23px;
     }

     .box-style{
         position: absolute;
         right: 24px;
         bottom: 35px;
     }

     .div2 h3{
         font-size: 26px;
         margin-bottom: -30px;
     }

     .div2> h4{
         font-size: 27px;
         margin-top: 60px;
     }

     .box-style{
        width: 48px;
     }

     .box1{
         width: 24px;
     }

     .box2{
         width: 24px;
     }

     .box3{
         width: 24px;
     }


 }

 /*----------------------------------------------Mobile Medium(375)-----------------------------------------------------*/

 /*----------------------------------------------Mobile small(320)-----------------------------------------------------*/
